@use "../../../sassStyles//variables" as vars;
.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border: none;
  background-color: vars.$white-97;
  border-radius: vars.$big-radius;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: vars.$font-medium;
  color: vars.$black-100;
  max-width: 365px;
  max-height: 256px;
  padding-bottom: 12px;
  text-transform: capitalize;
  border: 4px solid transparent;
  transition: all ease-in-out 250ms;
  cursor: pointer;

  &:hover {
    background-color: vars.$black-25;
  }

  &:focus {
    outline: none;
    border: 4px solid vars.$primary-50;
  }

  &:disabled {
    background-color: vars.$white-97;
  }
}
