@use "../../../sassStyles//variables" as vars;
.control-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  width: 30%;
  border: none;
  background-color: vars.$white-97;
  border-radius: vars.$radius-big;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: vars.$font-small;
  color: vars.$black-100;
  max-width: 365px;
  max-height: 256px;
  padding-bottom: 12px;
  text-transform: capitalize;
  border: 4px solid transparent;
  transition: all ease-in-out 250ms;
  cursor: pointer;

  &:hover {
    background-color: vars.$black-25;
  }

  &:focus {
    outline: none;
    border: 4px solid vars.$primary-50;
  }

  &:disabled {
    background-color: vars.$white-97;
    .control-svg {
      fill: vars.$black-75;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  @media (min-width: 768px) {
    width: 45%;
  }

  @media (min-width: 1024px) {
    padding-top: 25px;
    font-size: vars.$font-medium;
  }

  @media (min-width: 1200px) {
    padding-top: 45px;
  }
}
