@use "../../sassStyles/variables" as vars;
@use "../../sassStyles/mixins" as mixins;
.controls__wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .controls__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo-wrapper {
      display: flex;

      .logo {
        height: 32px;
      }

      .logo-wrapper__title {
        margin: 0 24px 0;
        font-size: vars.$font-medium;
        color: vars.$black-75;
        font-weight: 700;
      }
    }
  }

  .hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: vars.$white-98;
    margin: 0;
  }

  .add-content {
    height: 50px;
    width: 100%;
    background-color: vars.$white-97;
    color: vars.$black-100;
    font-weight: 700;
    font-size: vars.$font-small;
    padding: 10px 0px 10px 16px;
    margin: 0;
    border-radius: vars.$radius-big;
  }

  .export-button {
    width: 45%;
    border-radius: vars.$radius-small;
    align-self: flex-end;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: vars.$font-small;
    color: vars.$white;
    background-color: vars.$primary-75;
    border: 2px solid vars.$primary-75;
    transition: all ease-in-out 250ms;
    cursor: pointer;
  }

  @media (min-width: 475px) {
    height: 30%;
    .export-button {
      width: 30%;
    }
  }

  @include mixins.primaryButtonTransitions;
}
