@use "../../sassStyles/variables" as vars;
@use "../../sassStyles/mixins" as mixins;
.controls__wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;

  .controls__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo-wrapper {
      display: flex;
      align-items: center;

      .logo {
        height: 32px;
        @media (min-width: 768px) {
          height: 48px;
        }
      }

      .logo-wrapper__title {
        margin: 0 24px 0;
        font-size: vars.$font-medium;
        color: vars.$black-75;
        font-weight: 700;

        @media (min-width: 1024px) {
          font-size: vars.$font-big;
        }
      }
    }
  }

  .controls__hr {
    height: 2px;
    width: 100%;
    border: none;
    background-color: vars.$white-98;
    margin: 0;
  }

  .controls__add-content {
    height: 50px;
    width: 100%;
    background-color: vars.$white-97;
    color: vars.$black-100;
    font-weight: 700;
    font-size: vars.$font-small;
    padding: 10px 0px 10px 16px;
    margin: 0;
    border-radius: vars.$radius-big;

    @media (min-width: 1200px) {
      height: 75px;
    }
  }

  .controls__export-button {
    width: 45%;
    border-radius: vars.$radius-small;
    align-self: flex-end;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: vars.$font-small;
    color: vars.$white;
    background-color: vars.$primary-75;
    border: 2px solid vars.$primary-75;
    cursor: pointer;
    transition: all ease-in-out 250ms;

    @media (min-width: 768px) {
      height: 40px;
    }
  }

  @media (min-width: 475px) {
    height: 30%;
    .controls__export-button {
      width: 30%;
    }
  }

  @media (min-width: 768px) {
    order: 2;
    width: 100%;
    height: auto;
    aspect-ratio: 0.8/1;

    .controls__export-button {
      width: 45%;
    }
    .controls__add-content {
      font-size: vars.$font-medium;
      padding: 24px 0px 24px 16px;
      display: flex;
      align-items: center;
    }

    @media (min-width: 1200px) {
      width: auto;
      max-height: 100%;
    }
  }

  @include mixins.primaryButtonTransitions;
}
