@use "../../../sassStyles/variables" as vars;
@use "../../../sassStyles//mixins" as mixins;
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  top: 25%;
  left: 5%;
  z-index: 600;
  height: 45%;
  width: 90%;
  background-color: vars.$white;
  border-radius: vars.$radius-big;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    .header__close-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .warning-icon {
      height: 46%;
      width: 46%;
      fill: vars.$red-100;
      margin-top: 20px;
    }

    .wrapper__title {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: vars.$font-medium;
      font-weight: 700;
      text-transform: uppercase;
      color: vars.$black-100;
    }

    .wrapper__text {
      font-size: vars.$font-small;
      font-weight: 500;
      text-align: center;
      color: vars.$black-75;
      margin-top: 8px;
    }
  }

  .modal__controls {
    .controls__button {
      height: 40px;
      width: 109px;
      background-color: transparent;
      border: none;
      font-family: Poppins, sans-serif;
      color: vars.$black-100;
      font-size: vars.$font-small;
      border-radius: vars.$radius-small;
      cursor: pointer;
    }

    .controls__button--violette {
      background-color: vars.$primary-75;
      color: vars.$white;
    }

    @include mixins.primaryButtonTransitions;
  }

  @media (min-width: 375px) {
    min-height: 400px;
    max-width: 380px;
  }

  @media (min-width: 425px) {
    left: calc((100vw - 380px) / 2);
  }

  @media (min-width: 768px) {
    min-width: 490px;
    min-height: 455px;
    left: calc((100vw - 455px) / 2);

    .wrapper__title {
      font-size: vars.$font-big;
    }

    .wrapper__text {
      font-size: vars.$font-medium;
    }
  }
}

@include mixins.fadeDown;
