@use "../../../sassStyles/variables" as vars;
@use "../../../sassStyles//mixins" as mixins;
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  top: 25%;
  left: 35%;
  z-index: 600;
  height: 50%;
  width: 30%;
  min-width: 490px;
  min-height: 455px;
  background-color: vars.$white;
  border-radius: vars.$radius-big;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    .header__close-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .warning-icon {
    height: 46%;
    width: 46%;
    fill: vars.$red-100;
    margin-top: 20px;
  }
  &__title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: vars.$font-big;
    font-weight: 700;
    text-transform: uppercase;
    color: vars.$black-100;
  }

  &__text {
    font-size: vars.$font-medium;
    font-weight: 500;
    text-align: center;
    color: vars.$black-75;
    margin-top: 8px;
  }

  .modal-controls {
    &__button {
      height: 40px;
      width: 109px;
      background-color: transparent;
      border: none;
      font-family: Poppins, sans-serif;
      color: vars.$black-100;
      font-size: vars.$font-medium;
      border-radius: vars.$radius-small;
      cursor: pointer;
    }

    &__button--violette {
      background-color: vars.$primary-75;
      color: vars.$white;
    }

    @include mixins.primaryButtonTransitions;
  }
}

@include mixins.fadeDown;
