main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: calc(50% - 45px) calc(50% - 45px);
    grid-template-rows: 100%;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
    padding: 40px;
  }

  @media (min-width: 1024px) {
    gap: 24px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }

  @media (min-width: 1440px) {
    padding: 66px 189px;
  }
}
