@use "../../../sassStyles/variables" as vars;

.refresh-button {
  color: vars.$red-100;
  font-size: vars.$font-medium;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px vars.$red-100;
  white-space: nowrap;
}
