@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/* Button Colours */
$primary-100: #550788;
$primary-75: #7209b7;
$primary-50: rgba(114, 9, 183, 0.5);
$primary-25: #7209b780;
$red-100: #cb0000;

/* Font Colours */
$black-100: #353535;
$black-75: #676767;
$black-50: #9b9b9b;
$black-25: #cdcdcd;
$white: #ffffff;
$blue: #0055ff;
$green: #00da16;

/* Background Colours */
$white-98: #fafafa;
$white-97: #f7f7f8;

/* Font Sizes */
$font-big: 2rem;
$font-medium: 1.1rem;
$font-small: 0.9rem;

/* Miscellaneous */

$radius-big: 10px;
$radius-small: 5px;
