@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

/* Button Colors */
$primary-100: #550788;
$primary-75: #7209b7;
$primary-50: rgba(114, 9, 183, 0.5);
$primary-25: #7209b780;

/* Font Colors */
$black-100: #353535;
$black-75: #676767;
$black-50: #9b9b9b;
$black-25: #cdcdcd;
$white: #ffffff;

/* Background Colors */
$white-98: #fafafa;
$white-97: #f7f7f8;

/* Font Sizes*/
$font-big: 32px;
$font-medium: 18px;
$font-small: 15px;
