@use "../../../sassStyles/variables" as vars;

.wrapper {
  position: relative;
  top: 40%;
  left: 35%;
  height: auto;
  width: 30%;
  z-index: 300;
  cursor: pointer;
  object-fit: contain;

  .icon {
    display: none;
  }

  &:focus {
    .image-content,
    .text-area {
      outline: 2px solid vars.$primary-75;
    }

    .icon {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: white;
      border-radius: 50%;
    }

    .move-icon {
      height: 28px;
      width: 28px;
      top: -12px;
      left: -12px;
      fill: vars.$primary-75;
    }

    .delete-icon {
      height: 24px;
      width: 24px;
      padding: 2px;
      top: -12px;
      right: -12px;
      svg {
        fill: vars.$red-100;
      }
    }

    .resize-icon {
      bottom: -8px;
      right: -10px;
      fill: vars.$primary-75;
    }
  }

  .image-content {
    width: 100%;
    height: auto;
  }
}
